*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    width: 100%;
    height: 10vh;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.sec{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#logo a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#logo a img{
    width: 15%;
    height: 60%;
}
#title h1{
    color: red;
    text-shadow: 2px 2px yellow;
}
#user p{
    color: yellow;
}
#username{
    color: red;
}
nav{
    width: 100%;
    height: 5vh;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav a{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: red;
}
nav a:hover{
    background-color: green;
}
#library{
    width: 80%;
    height: 85vh;
    box-shadow: 5px 5px yellow;
    overflow-y: scroll;
}
#library h2{
    position: relative;
    top: 20px;
    color: red;
    text-shadow: 2px 2px yellow;
}
#library table{
    position: relative;
    top: 50px;
    width: 90%;
    height: 100%;
    text-align: center;
    box-shadow: 0px 0px 5px 5px red;
    
}
thead tr{
    background-color: green;
    height: 50px;
}
th{
    color: red;
    text-shadow: 2px 2px yellow;
}
td{
    color: red;
    border: 1px dotted yellow;
}
td button{
    background-color: green;
    width: 50px;
    height: 50px;
    color: yellow;
    border-radius: 10px;
}
td button:hover{
    background-color: yellow;
    color: green;
    width: 60px;
}